@font-face {
	font-family: 'inter';
	src: url('fonts/Inter-Regular.ttf');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
:root {
	--clr-text-base: hsl(215, 26%, 22%);
	--clr-text-secondary: hsl(215, 20%, 33%);
	--clr-text-gray: hsl(215, 16%, 47%);
	--clr-text-black: hsl(222, 47%, 11%);
	--border: 1px solid hsl(0, 0%, 96.1%);
	--nav-link-hover: hsl(60, 4.8%, 95.9%);
	--mobile-nav-header: 48px;
}

/* Normalize CSS is installed  as dependency*/


body {
	padding: 0;
	margin: 0;
	font-size: 18px;
	font-family: inter;
	color: var(--clr-text-base);
}
* {
	margin: 0;
	box-sizing: border-box;
}
:before,
:after {
	box-sizing: border-box;
}

button{
	font-family: inter;
	border: none;
	background-color: transparent;
	cursor: pointer;
	padding: 0;
}